streamlit
requests
beautifulsoup4
pandas
numpy
yfinance
textblob
groq
google-generativeai
python-dotenv
firebase-admin
plotly
ta
feedparser
lxml
urllib3
schedule
pytz
fuzzywuzzy
python-Levenshtein
streamlit_extras